.tags {
  --tagsItemPadding: 8px 16px;
  --tagsItemBackgroundColor: var(--color-gray-50);
  --tagsItemBorderRadius: var(--border-radius);


  &--plain {
    --tagsItemPadding: 0;
    --tagsItemBackgroundColor: transparent;
    --tagsItemBorderRadius: 0;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 20px;
    @include tablet {
      margin-bottom: 50px;
    }
  }

  &__item {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    padding: var(--tagsItemPadding);
    background-color: var(--tagsItemBackgroundColor);
    border-radius: var(--tagsItemBorderRadius);
  }

  &__label {
    color: var(--color-gray-600);
  }
}